<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservations</title>
</head>
<body>
<h1>Reservations for <span th:text="${date}">Data</span></h1>
<ul>
    <li th:if="${#lists.isEmpty(reservations)}">No reservations for this day.</li>
    <li th:each="reservation : ${reservations}">
        <p>Date: <span th:text="${reservation.slot.datetime}">Reservation Date</span></p>
        <p>Address: <span th:text="${reservation.slot.address}">Reservation Address</span></p>
        <p>Doctor name: <span th:text="${reservation.slot.doctor.name}">Doctor Name</span></p>
    </li>
</ul>
<a href="/user/reservation">Back to Calendar</a>
</body>
</html>